body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1, nav, figcaption {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

nav a {
  padding: 0 10px;
  background-color: grey;
  margin: 0 auto;
}

#featured-property p {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}
